/********************************************************************************************************/
/*    Note: Design for a width of 600px -> 767px                       */
/********************************************************************************************************/



@media only screen and (min-width: 600px) and (max-width: 767px) {

  
/**** Some main styles ****/
.mainPageWrapper{ width: 588px; }  


/********************************************************************************************************/
/*    Main Navigation / Off Canvas Navigation                      */
/********************************************************************************************************/
#navigation {
    position: absolute;
    left: -1000px;
    opacity: 0;
    
-webkit-transition: opacity 1s linear 0.2s;
-moz-transition: opacity 1s linear 0.2s;
transition: opacity 1s linear 0.2s; 
  }
#offCanvasNavButtonWrapper { display:block !important; }




    
/********************************************************************************************************/
/*    Footer / Footer Nav                      */
/********************************************************************************************************/


/********************************************************************************************************/
/*    Module Overrides                     */
/********************************************************************************************************/


} /*** Note: Design for a width of 600px -> 767px ***/

